@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: rgb(245, 245, 245);
  --black: rgb(15, 15, 15);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 4rem;
}
