@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: rgb(245, 245, 250);
  --black: rgb(15, 15, 15);
  --primary: #3b82f6;
  --grey-dark: #212121;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 64px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
}

@media all and (max-width: 639px) {
  .container {
    padding: 0 20px;
  }
}

@layer components {
  .btn-hover-animation {
    @apply relative flex items-center justify-center overflow-hidden bg-white font-medium text-black transition-colors before:absolute before:left-0 before:top-0 before:h-[100%] before:w-[101%] before:origin-right before:scale-x-0 before:bg-primary before:transition-transform before:duration-500 before:ease-in-out before:content-[''] hover:text-white hover:before:origin-left hover:before:scale-x-100;
  }
}

/* ================ */
/* ===== HERO ===== */
/* ================ */

.hero-image {
  background-image: url(/src/assets/hero-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid var(--primary);
  border-radius: 50% 40% 35% 65% / 65% 35% 65% 35%;
  transition: all 1s ease-in-out;
  animation: hero-animation 7s ease-in-out infinite;
}

@keyframes hero-animation {
  0% {
    border-radius: 50% 40% 35% 65% / 65% 35% 65% 35%;
  }
  50% {
    border-radius: 35% 70% 65% 40% / 55% 65% 35% 65%;
  }
  100% {
    border-radius: 50% 40% 35% 65% / 65% 35% 65% 35%;
  }
}

/* ================= */
/* ===== ABOUT ===== */
/* ================= */

.about-image {
  transition: all 1s ease-in-out;
  animation: about-animation 5s linear infinite;
}

@keyframes about-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ================== */
/* ===== SKILLS ===== */
/* ================== */

.skillbox-hover-animation:after,
.skillbox-hover-animation:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border: 0px solid var(--white);
  transition: all 1s;
}

.skillbox-hover-animation:after {
  top: -1px;
  left: -1px;
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
}

.skillbox-hover-animation:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 1px solid var(--white);
  border-right: 1px solid var(--white);
}

.skillbox-hover-animation:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.skillbox-hover-animation:hover::after,
.skillbox-hover-animation:hover::before {
  width: 100%;
  height: 100%;
}

/* ==================== */
/* ===== PROJECTS ===== */
/* ==================== */
@layer components {
  .project-tile {
    @apply flex h-1/4 flex-col justify-center border-b bg-grey-dark p-6 text-4xl capitalize sm:py-8 sm:text-5xl;
  }
}
